<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <section class="form-container">
            <form action="/users" method="POST">
                <div class="input">
                    <input type="text" name="username" placeholder="enter your name here" required>
                    <button type="submit"> Take Subscription </button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>